.sidebar li{
    margin-bottom: 0.5em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}

.text-black{
    color: black;
}

.sidebar li h5{
    font-size: 1.5rem !important;
    padding : 0.5em;
}
.actv{
    color: #c70100;
    background: #F6F7F9;
    padding: 0.5em !important;
    border-right: 10px solid #c70100;
}